<!--@subject New chargeback received for Order ID {{var order_id}} @-->
Dear merchant, <br/>
Please note BlueSnap has received a chargeback for your Order ID {{var order_id}}. <br/><br/>

This order has therefore been automatically refunded. <br/>
A chargeback occurs when a shopper contacts their card issuing bank and disputes a transaction they see on
their statements.<br/>
If you would like to know more, please log in to your BlueSnap account. You can find the order using Order locator.
Invoice ID  {{var referenceNumber}}. <br/><br/>

Kind regards,<br/>
The BlueSnap team